<div data-role="page" id="index">  

	<div data-role="header" data-position="inline">
		<h1>SearchSG</h1>
	</div>

	<div data-role="content" data-theme="b">  
		<!-- <form action="/home/search" method="get">
			<input type="search" name="search" id="search-basic" value="" placeholder="Search" />
			<input type="submit" value="Search" data-theme="a" data-inline="true" data-icon="search"/>
		</form> -->

		<%= form_tag("/home/search", method: "get") do %>
		  	<input type="search" name="search" id="search-basic" value="" placeholder="Search" />
			<input type="submit" value="Search" data-theme="a" data-inline="true" data-icon="search"/>
		<% end %>

		<hr />
		<ul data-role="listview" data-inset="true">
			<li data-role="list-divider" data-theme="a">Navigation</li>
			<li><a href="#">Search by Category</a></li>
			<li><a href="#">View Favorites/Bookmarks</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>

</div>   
