<div data-role="page" id="search-result">  

	<div data-role="header" data-position="inline">
		<h1>SearchSG</h1>
	</div>

	<div data-role="content" data-theme="b">  

		<ul data-role="listview" data-inset="true">
			<li data-role="list-divider" data-theme="a">Navigation</li>
			<% @search_return.each do |result| %>
				<li><a href="#">result.name</a></li>
			<% end %>
		</ul>
	</div>

</div>  